@use "@angular/material/theming" as mat;

// Inclui os estilos centrais do Angular Material.
// Garanta que este mixin seja incluído apenas uma vez em seu projeto.
@include mat.core();

// --- Definição das Paletas de Cores ---

// Paleta primária (vermelha)
$techsub-app-primary: mat.define-palette(mat.$red-palette, 700, 500, 900);

// Paleta de destaque (accent)
$techsub-app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// Paleta de avisos (warn), que por padrão já é vermelha.
$techsub-app-warn: mat.define-palette(mat.$red-palette);

// --- Criação do Tema ---
$techsub-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $techsub-app-primary,
      accent: $techsub-app-accent,
      warn: $techsub-app-warn,
    ),
  )
);

// Aplica o tema a todos os componentes do Angular Material.
@include mat.all-component-themes($techsub-app-theme);
