<!-- Este container só aparece se o usuário estiver autenticado -->
<ng-container *ngIf="isAuthenticated$ | async; else authPages">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TechSUB App</span>
    <span class="spacer"></span>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Sair
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/plans" routerLinkActive="active-link">
          <mat-icon>storefront</mat-icon>
          <span>Planos</span>
        </a>
        <a
          mat-list-item
          routerLink="/my-subscription"
          routerLinkActive="active-link"
        >
          <mat-icon>subscriptions</mat-icon>
          <span>Minha Assinatura</span>
        </a>
        <a mat-list-item routerLink="/reports" routerLinkActive="active-link">
          <mat-icon>assessment</mat-icon>
          <span>Relatórios</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="container">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- Este template é usado para as páginas de login/registro -->
<ng-template #authPages>
  <router-outlet></router-outlet>
</ng-template>
